# PsychoPy 2023.2.3 dependencies (without pypi-search)
numpy<2.0
scipy
matplotlib
pyglet==1.5.27
pillow>=9.4.0
pyqt5
pandas>=1.5.3
questplus>=2023.1
openpyxl
xmlschema
soundfile
imageio
imageio-ffmpeg
psychtoolbox
gevent
psutil
pyzmq>=22.2.1
ujson
msgpack
msgpack-numpy
pyyaml
freetype-py
python-bidi
arabic-reshaper
javascripthon
websockets
wxPython>=4.1.1
markdown-it-py
requests
future
pyserial
